<!DOCTYPE html>
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit User</title>
</head>
<body>

<h2>Edit user</h2>

<form th:method="PUT" th:action="@{/admin}" th:object="${editUser}">
    <input type="hidden" name="id" th:value="${editUser.getId()}">

    <label for="name">Enter name:</label>
    <input type="text" th:field="*{name}" id="name">
    <br/>
    <label for="lastName">Enter last name:</label>
    <input type="text" th:field="*{lastName}" id="lastName">
    <br/>
    <label for="age">Enter age:</label>
    <input type="number" th:field="*{age}" id="age">
    <label for="age">Enter email:</label>
    <input type="text" th:field="*{email}" id="email">
    <br/>
    <label for="age">Enter password:</label>
    <input type="text" th:field="*{password}" id="password">
    <br/>
    <div>
        <label>Select Roles:</label>
        <select th:field="*{roles}" multiple>
            <option th:each="role : ${allRoles}"
                    th:value="${role.id}"
                    th:text="${role.name}">
            </option>
        </select>
    </div>

    <input type="submit" value="Submit">
    <br/>
    <br/>
    <a th:href="@{/logout}"><button>Logout</button></a></a>
</form>
</body>
</html>